* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #000011;
  color: white;
  font-family: NeueRoman;
  max-width: 2000px;
  margin: auto;
  scroll-behavior: smooth;
}

body {
  max-width: 85%;
  margin: auto;
}

.titles_sections {
  font-size: 50px;
  margin-bottom: 40px;
  color: #FFF8EB;
}

hr {
  margin-bottom: 60px;
}

.lastHR {
  margin-bottom: 25px;
}

.myLogo {
  font-size: 23px;
  font-family: NeueMedium;
}

@font-face {
  font-family: 'NeueRoman';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NeueHaasDisplayRoman.woff") format("woff");
}

@font-face {
  font-family: 'NeueMedium';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/NeueHaasDisplayMediu.woff") format("woff");
}

@font-face {
  font-family: 'NeueBold';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NeueHaasDisplayBold.woff") format("woff");
}

header {
  height: 100vh;
  margin-bottom: 20px;
}

header nav {
  margin: 40px 0;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav img {
  height: 30px;
}

header nav .navLinks a {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

header nav .navLinks a:hover {
  color: #FFEECF;
}

header .landingTexts {
  text-align: center;
  margin: 0 35px;
  margin-bottom: 10vh;
}

header .landingTexts p:first-child {
  font-size: 7.5vw;
  text-transform: uppercase;
  margin-bottom: 7vh;
}

header .landingTexts p:last-child {
  font-size: 4vw;
  font-weight: 300;
  line-height: 22px;
  margin: 5vh 0;
}

header .cromo {
  width: 100%;
  height: 40vh;
  position: absolute;
  left: 0;
  background-image: url(../imgs/abstract.jpg);
  background-position: center;
  background-size: cover;
}

.s1Grid {
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  gap: 80px;
  grid-template: "infoMe" auto "photo" auto "skills" auto;
}

.s1Grid .s1Grid_description {
  grid-area: infoMe;
  font-size: 20px;
  line-height: 144%;
}

.s1Grid .skillsContainer .emptydiv {
  grid-area: empty;
}

.s1Grid .skillsContainer .skills_title {
  font-size: 28px;
  margin-bottom: 40px;
  font-family: NeueMedium;
  grid-area: title;
}

.s1Grid .skillsContainer .s1Grid_skills {
  grid-area: skills;
}

.s1Grid .skillsContainer .s1Grid_skills li {
  list-style: none;
  margin-bottom: 16px;
  font-size: 19px;
  line-height: 115%;
}

.s1Grid .profilePhoto {
  grid-area: photo;
}

.project {
  margin-bottom: 230px;
}

.project .numercontainer {
  max-width: 1200px;
  margin: auto;
}

.project .numercontainer .project_number {
  font-size: 25px;
  margin-bottom: 19px;
  font-weight: bold;
  color: #A4A4A4;
}

.project .project_container .project_info h3 {
  font-size: 42px;
  margin-top: 50px;
  letter-spacing: 0.8px;
}

.project .project_container .project_info h4 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  margin: 27px 0 57px 0;
  color: #CBCBCB;
}

.project .project_container .project_info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 94px;
}

.project .project_container .project_info a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.project .project_container .project_info a span img {
  margin-left: 10px;
}

.section3 {
  border-bottom: 1px solid white;
}

.section3 .question {
  font-size: 25px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 90px;
}

.section3 .invitation {
  font-size: 29px;
  margin-bottom: 34px;
}

.section3 .emailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1.5px solid #6A6A6A;
  border-bottom: 1.5px solid #6A6A6A;
  padding: 25px 0;
  margin-bottom: 154px;
}

.section3 .emailContainer p {
  font-size: 20px;
}

.section3 .emailContainer p:last-child {
  color: #7E7E7E;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42px 0;
}

footer img {
  height: 30px;
}

footer .footerLinks a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

footer .backTotopContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .backTotopContainer p {
  margin-right: 14px;
}

@media (max-width: 549px) {
  .myLogo {
    display: none;
  }
}

@media (min-width: 550px) {
  .LogoResponsive {
    display: none;
  }
  header .landingTexts p:first-child {
    font-size: 6vw;
  }
  header .landingTexts p:last-child {
    font-size: 3vw;
    max-width: 400px;
    margin: auto;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 80%;
  }
  header .navLinks {
    font-size: 19px;
  }
  header .landingTexts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    margin: 0;
    margin-top: 245px;
    margin-bottom: 10vh;
  }
  header .landingTexts p:first-child {
    position: relative;
    font-size: 34px;
    max-width: 310px;
    margin-right: 50px;
    margin-bottom: 0;
    bottom: 80px;
  }
  header .landingTexts p:last-child {
    font-size: 21px;
    line-height: 30px;
    max-width: 350px;
    margin: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .s1Grid {
    margin-bottom: 190px;
  }
  .s1Grid .s1Grid_description {
    line-height: 160%;
  }
  .s1Grid .skillsContainer {
    display: -ms-grid;
    display: grid;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    grid-template: "title title" auto "empty skills" auto "empty skills" auto/140px auto auto;
  }
  .s1Grid .profilePhoto {
    width: 70%;
    margin: auto;
  }
  .project .project_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .project .project_container .project-img {
    width: 60%;
    margin: auto;
  }
  .project .project_container .project_info p {
    font-size: 17px;
    line-height: 30px;
    max-width: 700px;
    margin: 60px auto 90px auto;
    text-align: left;
  }
}

@media (max-width: 900px) {
  footer .backTotopContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
    max-width: 80%;
    margin: auto;
  }
  header .landingTexts {
    margin-top: 22vh;
    margin-bottom: 8vh;
  }
  header .landingTexts p:first-child {
    font-size: 56px;
    max-width: 460px;
  }
  header .landingTexts p:last-child {
    font-size: 20px;
    max-width: 350px;
  }
  .s1Grid {
    margin-top: 110px;
    gap: 50px;
    grid-template: "infoMe photo" auto "skills photo" auto "skills photo" auto;
  }
  .s1Grid .s1Grid_description {
    max-width: 37vw;
  }
  .s1Grid .skillsContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20vh;
    max-width: 400px;
  }
  .s1Grid .profilePhoto {
    width: 85%;
    margin-right: 0;
    max-width: 550px;
  }
  .project {
    margin: 260px 0;
  }
  .project .numercontainer .project_number {
    font-size: 20px;
    position: relative;
    top: -45px;
    color: #9B9B9B;
  }
  .project .project_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .project .project_container .project-img {
    width: 400px;
    height: 400px;
    margin: 0 57px;
  }
  .project .project_container .project_info {
    max-width: 360px;
  }
  .project .project_container .project_info h3 {
    font-size: 40px;
  }
  .project .project_container .project_info h4 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    margin: 27px 0 57px 0;
  }
  .project .project_container .project_info p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 94px;
  }
  .project .project_container .project_info a:hover {
    color: #FFEECF;
  }
  footer .footerLinks a {
    margin-left: 50px;
  }
  footer .footerLinks a:hover {
    color: #FFEECF;
  }
  footer .backTotopContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .backTotopContainer p {
    margin-right: 14px;
  }
}

@media (min-width: 1200px) {
  .project .project_container .project-img {
    width: 450px;
    height: 450px;
    margin-right: 90px;
  }
}
/*# sourceMappingURL=style.css.map */