* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   background-color: #000011;
   color: white;
   font-family: NeueRoman;
}

body {
   max-width: 85%;
   margin: auto;
}

.titles_sections {
   font-size: 50px;
   margin-bottom: 40px;
}

hr {
   margin-bottom: 60px;
}

.lastHR {
   margin-bottom: 25px;
}

.myLogo {
   font-size: 23px;
   font-family: NeueMedium;
}



@font-face {
   font-family: 'NeueRoman';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/NeueHaasDisplayRoman.woff') format('woff');
}



@font-face {
   font-family: 'NeueMedium';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/NeueHaasDisplayMediu.woff') format('woff');
}



@font-face {
   font-family: 'NeueBold';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/NeueHaasDisplayBold.woff') format('woff');
}