@media (max-width: 549px) {
   .myLogo {

      display: none;
   }
}

@media (min-width: 550px) {
   .LogoResponsive {

      display: none;
   }

   header {
      .landingTexts {

         p:first-child {
            font-size: 6vw;
         }

         p:last-child {
            font-size: 3vw;
            max-width: 400px;
            margin: auto;
            line-height: 25px;
         }
      }
   }
}

@media (min-width: 768px) {
   body {
      max-width: 80%;
   }

   header {
      .navLinks {
         font-size: 19px
      }

      .landingTexts {
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         text-align: left;
         margin: 0;
         margin-top: 245px;
         margin-bottom: 10vh;

         p:first-child {
            position: relative;
            font-size: 34px;
            max-width: 310px;
            margin-right: 50px;
            margin-bottom: 0;
            bottom: 80px;
         }

         p:last-child {
            font-size: 21px;
            line-height: 30px;
            max-width: 350px;
            margin: 0;
            align-self: flex-end;
         }


      }
   }


   .s1Grid {
      margin-bottom: 190px;

      .s1Grid_description {
         line-height: 160%;
      }

      .skillsContainer {
         display: grid;
         justify-content: space-around;
         grid-template:
            "title title"auto "empty skills"auto "empty skills"auto;
      }

      .profilePhoto {
         width: 70%;
         margin: auto;
      }
   }

   .project {
      .project_container {
         display: flex;
         flex-direction: column;
         text-align: center;

         .project-img {
            width: 80%;
            margin: auto;
         }

         .project_info {
            p {
               font-size: 17px;
               line-height: 30px;
               max-width: 700px;
               margin: 60px auto 90px auto;
               text-align: left;
            }
         }
      }
   }
}

@media (min-width: 1000px) {

   body {
      max-width: 80%;
      margin: auto;
   }

   header {
      .landingTexts {
         margin-top: 22vh;
         margin-bottom: 8vh;


         p:first-child {
            font-size: 45px;
            max-width: 400px;

         }

         p:last-child {
            font-size: 20px;
            max-width: 350px;
         }
      }
   }
}