@media (min-width: 550px) {

   header {
      .landingTexts {

         p:first-child {
            font-size: 6vw;
         }

         p:last-child {
            font-size: 3vw;
            max-width: 400px;
            margin: auto;
            line-height: 25px;
         }
      }
   }
}

@media (min-width: 768px) {
   body {
      max-width: 80%;
   }

   header {
      .navLinks {
         font-size: 19px
      }

      .landingTexts {
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         text-align: left;
         margin: 0;
         margin-top: 245px;
         margin-bottom: 10vh;

         p:first-child {
            font-size: 38px;
            max-width: 310px;
            margin-right: 50px;
            margin-bottom: 0;
         }

         p:last-child {
            font-size: 24px;
            line-height: 30px;
            max-width: 390px;
            margin: 0;
            align-self: flex-end;
         }
      }
   }


   .s1Grid {
      margin-bottom: 190px;

      .s1Grid_description {
         line-height: 160%;
      }

      .skillsContainer {
         display: grid;
         justify-content: space-around;
         grid-template:
            "title title"auto "empty skills"auto "empty skills"auto;
      }

      .profilePhoto {
         width: 70%;
         margin: auto;
      }
   }
}