.project {
  margin-bottom: 230px;

  .numercontainer {
    max-width: 1200px;
    margin: auto;

    .project_number {
      font-size: 25px;
      margin-bottom: 19px;
      font-weight: bold;
      color: #a4a4a4;
    }
  }

  .project_container {
    .project_info {
      h3 {
        font-size: 42px;
        margin-top: 50px;
        letter-spacing: 0.8px;
      }

      h4 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        margin: 27px 0 57px 0;
        color: #cbcbcb;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 94px;
      }

      a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: white;

        span {
          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
