.s1Grid {
   margin-bottom: 150px;
   display: grid;
   gap: 80px;
   grid-template: "infoMe"auto "photo"auto "skills"auto;

   .s1Grid_description {
      grid-area: infoMe;
      font-size: 20px;
      line-height: 144%;
   }

   .skillsContainer {

      .emptydiv {
         grid-area: empty;
      }

      .skills_title {
         font-size: 28px;
         margin-bottom: 40px;
         font-family: NeueMedium;
         grid-area: title;
      }

      .s1Grid_skills {
         li {
            list-style: none;
            margin-bottom: 16px;
            font-size: 19px;
            line-height: 115%;
         }

         grid-area: skills;
      }
   }

   .profilePhoto {
      grid-area: photo;
   }
}